:root {
    --cor-principal: #6E859F;
    --cor-secundaria: #284260;
    --cor-destaque: #C92BFC;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1, h2 {
  font-weight: bold;
  color: #1d3557;
}


.card-title {
  color: #1d3557;
}

footer {
  font-size: 0.9rem;
}

.badge {
  font-size: 1rem;
  padding: 0.6em 1em;
}

h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lead, .btn-link {
    color: var(--cor-destaque);
    font-weight: 700;
}

a, .btn-link:hover {
    color: var(--cor-principal)
}

a:hover{
    color: var(--cor-destaque);
}


